<app-navbar></app-navbar>

<div class="container-fluid" >
  <ul class="nav nav-pills nav-fill bg-secondary text-white mt-3">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#turnos">Pedir Turno</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#turnosVigentes">Turnos Vigentes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#turnosPasados">Turnos Pasados</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade active show" id="turnos">
      <app-pedir-turno *ngIf="paciente" [paciente]="paciente"></app-pedir-turno>
    </div>
    <div class="tab-pane fade" id="turnosVigentes">
      <app-turnos-paciente-detalles *ngIf="paciente" [paciente]="paciente"></app-turnos-paciente-detalles>
    </div>
    <div class="tab-pane fade" id="turnosPasados">
      <app-turnos-pasados-detalle *ngIf="paciente" [paciente]="paciente"></app-turnos-pasados-detalle>
    </div>
  </div> 
</div>