<app-navbar></app-navbar>

<div class="container">
  <div *ngIf="authUser$ | async as user">
    <div class="alert alert-info alert-dismissible text-center fade show" role="alert" *ngIf="!user.emailVerified">
      <p>
        Se ha enviado un email de confirmación a <b>{{user.email}}</b> <br>
        Por favor verifique el buzón de entrada y haga click en el link para verificar su correo electrónico
      </p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  
</div>