.nav {
  background-color: var(--tertiary-color);
  color: var(--text-color);
}

.nav__brand {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.nav__brand > * {
    margin-left: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.userbtn {
    background-color: var(--secondary-color);
    color:white;
    border-radius: 30px;
}

.userbtn__wrapper {
    display: flex;
    align-items: center;
    text-align: center;
}

.userbtn__wrapper > * {
    margin-left: 10px;
}
