<div class="input-group">
  <div class="input-group-prepend">
    <select class="custom-select" 
            name="condicion" 
            [(ngModel)]="condicion" 
            (change)="cambiarFiltro()">

      <option value="todos">Todos</option>
      <option value="paciente">Paciente</option>
      <option value="medico">Medico</option>
      <option value="especialidad">Especialidad</option>
      <option value="fecha">Fecha</option>
    </select>
  </div>

  <input type="text" 
        class="form-control"
        [disabled]="condicion === 'todos'"
        [placeholder]="textoPlaceholder">
</div>