.login-card {
  margin: 0px auto;
  margin-top: 22px;
  max-width: 490px;
  padding: 44px;
  border-radius: 69px;
}

.login-card-title {
  text-align: center;
  font-size: 46px;
  color: var(--text-color-dark);
  margin-bottom: 46px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.inputtxt {
  width: 100%;
}

.submit-btn {
  width: 100%;
  background-color: var(--primary-color);
}

.form-link {
  text-decoration: none;
  color: var(--primary-color);
}

.form-link:visited {
  color:var(--primary-color);
}