<div class="container">
  <div class="card mt-3" *ngIf="!enEspera" id="card">
    <form [formGroup]="formulario" (ngSubmit)="registrar()">
      <div class="card-body">
        <h2 class="card-title text-center mb-5">Registrarse</h2>
        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre" [class.is-invalid]="nombreNoValido">
            <small class="text-danger" *ngIf="nombreNoValido">Este campo es requerido</small>
          </div>

          <div class="form-group col-md-6">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" formControlName="apellido" [class.is-invalid]="apellidoNoValido">
            <small class="text-danger" *ngIf="apellidoNoValido">Este campo es requerido</small>
          </div>

        </div>

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="correo">Correo</label>
            <input type="email" class="form-control" formControlName="correo" [class.is-invalid]="correoNoValido">
            <small class="text-danger" *ngIf="correoNoValido">Este campo no es válido</small>
          </div>

          <div class="form-group col-md-6">
            <label for="clave">Contraseña</label>
            <input type="password" class="form-control" formControlName="clave" [class.is-invalid]="claveNoValida">
            <small class="text-danger" *ngIf="claveNoValida">Este campo debe tener como mínimo 6 caracteres</small>
          </div>

        </div>

        <div class="form-group">

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="perfil" value="profesional" (change)="perfilSeleccionado($event)"> Profesional
          </div>

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="perfil" value="paciente" (change)="perfilSeleccionado($event)"> Paciente
          </div>

          <br />
          <small class="text-danger" *ngIf="perfilNoValido">Este campo debe estar seleccionado</small>
        </div>

        <div class="row" *ngIf="esProfesional">
          <div class="col">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>Especialidad</th>
                  <th>Borrar</th>
                </tr>
              </thead>
              <tbody formArrayName="especialidades">
                <tr *ngFor="let control of especialidades.controls; let i = index">
                  <td> {{ i + 1 }} </td>
                  <td>
                    <input class="form-control"
                          type="text"
                          [formControlName]="i"
                          [class.is-invalid]="especialidadNoValida(control)">
                    <small class="text-danger" *ngIf="especialidadNoValida(control)">Este campo no debe estar vacio</small>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger"
                            (click)="borrarEspecialidad(i)">
                      Borrar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-primary mt-3 mb-5 btn-block"
                    type="button"
                    (click)="agregarEspecialidad()">
              + Agregar
            </button>
          </div>
        </div>

        <div class="form-group mt-3" *ngIf="esPaciente">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-images"></i>
            </span>
            <div class="custom-file">
              <input type="file" class="custom-file-input" multiple accept="image/*" lang="es" (change)="subirImagenes($event)">
              <label class="custom-file-label" for="inputGroupFile01">Haga click para subir imagenes</label>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="esPaciente">
          <div class="col">
            <div class="d-flex align-items-center justify-content-between">
              <span>{{imagenes.length}} Imagenes subidas</span>
              <button type="button" class="btn btn-danger" (click)="imagenes = []">Deshacer imagenes subidas &nbsp;<i class="fas fa-trash-alt"></i></button>
            </div>
          </div>
        </div>

        

        <div class="row mt-3">
          <div class="col">
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </div>
        </div>
      </div>
    </form>
    <div class="card-footer">
      <a routerLink="/iniciarSesion">Desea iniciar sesión?</a>
    </div>
  </div>

  <div class="text-center animated fadeIn mt-5" *ngIf="enEspera">
    <div class="col">
      <i class="fa fa-sync fa-spin fa-5x"></i>
    </div>
    <div class="col mt-5 display-4">
      Cargando espere un momento. . .
    </div>
  </div>
</div>

