<!-- barra para filtrar de profesionales -->
<app-filtro-profesionales *ngIf="profesionales" 
                          [profesionales]="profesionales" 
                          (profesionalesFiltrados)="filtroProfesionales($event)"
                          >
</app-filtro-profesionales>


<!-- listado profesionales disponibles -->
<div class="table-responsive" *ngIf="turnosPacienteActual">
  <table class="table table-light table-striped table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Especialidades</th>
        <th scope="col">Horario</th>
        <th scope="col">Dias</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profesional of profesionalesVista">
        <td>{{ profesional.nombre }}</td>
        <td>{{ profesional.apellido }}</td>
        <td>{{ profesional.especialidades }}</td>
        <td>
          De {{ profesional.horarioInicio }} hasta
          {{ profesional.horarioSalida }}
        </td>
        <td>
          <span *ngFor="let dia of profesional.diasAtencion">
            {{ dia | titlecase }}
          </span>
        </td>
        <td>
          <button
            class="btn btn-primary btn-block"
            (click)="pedirTurno(profesional)"
            [disabled]="verificarPorTurnoRealizado(profesional.docId)"
          >
            {{verificarPorTurnoRealizado(profesional.docId)? 'Turno Pedido':'Pedir Turno'}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- spinner -->
<div class="row text-center animated fadeIn mt-5" *ngIf="!profesionales || !turnosPacienteActual">
  <div class="col">
    <i class="fa fa-sync fa-spin fa-5x"></i>
  </div>
</div>

<!-- pedir turno modal -->
<app-pedir-turno-modal #pedirTurnoModal (fechaHoraProfesionalSeleccionados)="sacarTurno($event)"></app-pedir-turno-modal>
