<div class="table-responsive">
  <table class="table table-light table-striped table-hover text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Especialidades</th>
        <th scope="col">Horario</th>
        <th scope="col">Dias</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profesional of profesionales">
        <td>{{ profesional.nombre }}</td>
        <td>{{ profesional.apellido }}</td>
        <td>{{ profesional.especialidades }}</td>
        <td>
          De {{ profesional.horarioInicio }} hasta
          {{ profesional.horarioSalida }}
        </td>
        <td>
          <span *ngFor="let dia of profesional.diasAtencion">
            {{ dia | titlecase }}
          </span>
        </td>
        <td>
          <button
            class="btn btn-primary btn-block"
            (click)="pedirTurno(profesional)"
          >
            Pedir Turno
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-pedir-turno-modal #pedirTurnoModal (fechaHoraProfesionalSeleccionados)="sacarTurno($event)"></app-pedir-turno-modal>
