<app-navbar></app-navbar>

<div class="container-fluid">
  <ul class="nav nav-pills nav-fill bg-secondary text-white mt-3">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#solicitudes"
        >Solicitudes</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#admin-form"
        >Alta Administrador</a
      >
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade active show" id="solicitudes">
    <app-solicitudes-aprobacion-profesional></app-solicitudes-aprobacion-profesional>
    </div>

    <div class="tab-pane fade" id="admin-form">
      <app-alta-administrador></app-alta-administrador>
    </div>
  </div>
</div>
