.nav {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.nav__brand {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.nav__brand > * {
    margin-left: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.subtitle {
  text-align: center;
  margin-top: 10px;
  color: var(--text-color);
}

.requests {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 780px;
  color: var(--text-color);
}

.tab {
  background-color: var(--primary-color);
  opacity: 0.95;
  height: 100%;
}

.requests__item {
  display: flex;
  flex-direction: row;
}


.requests__icon {
  text-align: center;
  width: 20%;
  padding: 10px;
}

.requests__controls {
  width: 80%;
  text-align: center;
  padding: 10px;
}

.form {
  height: 80vh;
  max-width: 700px;
  margin: 0px auto;
  margin-top: 22px;
}

.inputtxt {
  width: 100%;
}

.submit {
  width: 100%;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.spinner {
  margin: 0 auto;
  margin-top: 15px;
}