<div class="container">
  <div class="mx-auto p-3 mt-3 bg-primary">
    <div class="d-flex justify-content-center align-items-center border-dark">
      <img src="assets/img/cruz-roja.png" class="" width="250" height="250" alt="img">
      <span style="font-size: 100px;" class="text-white" id="title">Clínica Online</span>
    </div>
    
    <div class="card-body">
      <div class="form-group">
        <input type="text" name="correo" id="correo" [(ngModel)]="correo" placeholder="Correo" class="form-control rounded-pill">
      </div>
  
      <div class="form-group">
        <input type="password" name="clave" id="clave" [(ngModel)]="clave" placeholder="Clave" class="form-control rounded-pill">
      </div>

      <div class="form-group">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle rounded-pill" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuarios
          </button>
          <div class="dropdown-menu">
            <button class="dropdown-item" value="administrador" (click)="usuarioSeleccionado($event)" type="button">Administrador</button>
            <button class="dropdown-item" value="profesional" (click)="usuarioSeleccionado($event)" type="button">Profesional</button>
            <button class="dropdown-item" value="paciente" (click)="usuarioSeleccionado($event)" type="button">Paciente</button>
          </div>
        </div>
      </div>

      <div style="margin-top: 15px;">
        <re-captcha #captcha (resolved)="captchaVerificado = true" [siteKey]="siteKey"></re-captcha>
      </div>
    </div>
  </div>
  <div class="card-footer bg-primary">
    <button type="submit" class="btn btn-secondary btn-block rounded-pill" [disabled]="enEspera" (click)="iniciarSesion()">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="enEspera"></span>
      {{enEspera?'Cargando. . .':'Iniciar Sesión'}}
    </button> <br>
    <a routerLink="/registrarse" class="text-dark">Desea registrarse?</a>
  </div>
</div>


<div class="alert alert-warning alert-dismissible fade" id="alert-form" role="alert">
  <p id="alert-text"></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>