<table class="table table-light text-center" *ngIf="turnosPasados">
  <thead class="thead-dark">
    <th scope="col">Hora</th>
    <th scope="col">Fecha</th>
    <th scope="col">Estado</th>
    <th scope="col">Reseña Profesional</th>
    <th scope="col">Encuesta</th>
  </thead>
  <tbody>
    <tr *ngFor="let turno of turnosPasados">
      <td>{{ turno.hora }}</td>
      <td>{{ turno.fecha }}</td>
      <td>{{ turno.estado | estadoTurno}}</td>
      <td>
        <button
          *ngIf="turno.motivoRechazo"
          class="btn btn-danger btn-block"
          (click)="mostrarMensajeRechazoProfesional(turno.motivoRechazo)"
        >
          Ver motivo rechazo
        </button>

        <button 
          *ngIf="turno.reseniaProfesional"
          class="btn btn-success btn-block"
          (click)="mostrarReseniaProfesional(turno.reseniaProfesional)"
          >
          Ver reseña
        </button>

        <p *ngIf="!turno.reseniaProfesional && !turno.motivoRechazo" class="text-danger">
          {{turno.estado === 4? 'El profesional dejará una reseña en breve' :'El profesional no ha dejado ningún mensaje'}}
        </p>

      </td>
      <td>
        <button class="btn btn-info btn-block" *ngIf="!turno.reseniaPaciente" [disabled]="turno.estado !== 4" (click)="mostrarModalReseniaPaciente(turno)">
          Responder Encuesta
        </button>

        <button class="btn btn-info btn-block" *ngIf="turno.reseniaPaciente" (click)="mostrarModalReseniaPacienteCompletada(turno, turno.reseniaPaciente)">Ver mis respuestas</button>
      </td>
    </tr>
  </tbody>
</table>

<div
  class="alert alert-primary fade show"
  *ngIf="turnosPasados && turnosPasados.length === 0"
>
  <p class="text-center">No hay turnos que mostrar</p>
</div>

<app-resenia-paciente-modal #reseniaPacienteModal></app-resenia-paciente-modal>
<app-resenia-profesional-modal #reseniaProfesionalModal></app-resenia-profesional-modal>
