@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color:#6610f2;
}