@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";
@import '~@sweetalert2/theme-bootstrap-4/bootstrap-4.scss';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
background-color: #106af2;
}